.classItem {
  width: 200px;
  height: 150px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
}

.classItem h4 {
  float: center; 
  display: block; 
  text-align: center; 
  padding: 60px 20px;
  text-decoration: none; 
}

.classItem h2 {
  text-indent: 50px;
}

@media screen and (max-width: 400px) {
  .classItem a {
      float: none;
      width: 100%;
  }
}